In [1]:
import pandas as pd
import plotly.express as px
import math

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/YX0013/Project-105-Data/main/marks.csv")
df.head()

   Marks
0     60
1     61
2     65
3     63
4     98

Mean

In [3]:
marks = df['Marks'].tolist()
total = len(marks)
sum = 0
for i in marks:
  sum = sum + i
mean = sum/total

print("The mean is", mean)

The mean is 81.8

Standard Deviation

In [4]:
tsum = 0
for i in marks:
  dif = int(i) - mean
  dif = dif**2
  tsum += dif
sd = tsum/total
sd = math.sqrt(sd)
print("The standard deviation is", sd)

The standard deviation is 16.216041440499588